* {
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to bottom, #292bc2, #e7aae9);
    color: #333;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
}

.login-container {
    width: 100%;
    max-width: 500px;
    margin: auto;
    padding: 20px;
}

.login-box {
    width: 100%;
    background-color: #fff;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
    text-align: center;
}

h1 {
    font-size: 40px;
    color: #333;
    margin-bottom: 10px;
}

.input-group {
    display: flex;
    flex-direction: column;
    margin-top: 15px;
    width: 100%;
    align-items: center;
}

.input-group label {
    align-self: flex-start;
    font-size: 14px;
    font-weight: bold;
    margin-left: 15%;
}

.input-group input {
    width: 70%;
    max-width: 370px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
    outline: none;
    transition: border-color 0.3s ease;
}

.input-group input:focus {
    border-color: #6a11cb;
}

.checkPass {
    display: flex;
    flex-direction: row;
    align-items: start;
    margin: 10px 0 20px 62px;
}

.login-btn {
    width: 70%;
    max-width: 372px;
    padding: 12px;
    background: #6a11cb;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background 0.3s ease;
}

.login-btn:hover {
    background: #4a0fae;
}

.register-btn {
    width: 100%;
    margin-top: 10px;
    max-width: 372px;
    padding: 12px;
    background: #6a11cb;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background 0.3s ease;
}

.register-btn:hover {
    background: #4a0fae;
}

.extras {
    margin-top: 20px;
    font-size: 14px;
    color: #666;
}

.extras a {
    color: #6a11cb;
    text-decoration: none;
    font-weight: bold;
}

.extras a:hover {
    text-decoration: underline;
}

@media (max-width: 768px) {
    .login-box {
        padding: 20px;
        max-width: 90%;
    }

    .input-group input {
        max-width: 250px;
    }
    
    h1 {
        font-size: 24px;
    }

    .tagline {
        font-size: 14px;
    }

    .login-btn {
        font-size: 14px;
    }

    .extras {
        font-size: 13px;
    }
}

@media (max-width: 480px) {
    h1 {
        font-size: 19px;
    }

    .tagline {
        font-size: 12px;
    }

    .login-btn {
        font-size: 13px;
    }
}